
###> symfony/framework-bundle ###
/.env.local
/.env.*.local
/public/bundles/sonataadmin
/public/bundles/sonatacore
/var/
/vendor/
/.history/*
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###

.idea/

.vscode/settings.json

.vscode/

templates/web/index.html copy.twig
