html, body {
    height: 100%;
}

header {
    color: #fff;
    display: block;
}
header a{color: #fff;}

footer {
    color: #aaa;
    display: block;
    padding: 17px 0px 15px;
    background-color: #140b06;
}
.autor { text-align: right; font-weight: 600; font-style: italic; font-size: 10px; }

.head-center {
    background: url(../img/20181213_055921-copia.jpg) 0 0 no-repeat;
    height: 195px;
    top:0px;
    left:0px;
    background-color: #321e15;
}

.head {
    background-color: #321e15;
}



.h-title { padding: 12px 0px 10px 0px}
.card-header {color:#1E1510; font-weight: 500; font-size:16px}
.tag-adorador {width: 30px; min-width: 30px;}

.clear { min-height: 20px; }
.clear {
    float: none!important;
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.sf-menu>li.sfHover>a, .sf-menu>li.current>a, .sf-menu>li>a:hover {
    color: #41dcf3;
}

.sf-menu li{
   padding: 0px 6px 0px 6px;
}

.home-text {padding-left: 45px;}

.main-title {
    margin-top: 18px;
    padding:  2px;  
    text-align: center;  
    font-weight: 500;
    font-size: 26px;
    color: #FFF;
    font-family: 'Helvetica';
    position:relative;
    line-height:1.3;
    white-spacing:
}

.main-subtitle {
    padding:  2px;  
    font-weight: 400;
    font-size: 18px;
    color: #EEE;
    font-family: 'Helvetica';
    position:relative;
    line-height:1.3;
}

#mapid { height: 180px; }

.card-adoradores .fc-header-toolbar {display: none;}
.card-body {background-color: #f7fbbf;}
.card-header{color: darkgreen; background: white;}
/*.card {border-color: darkgreen;} */

.fc-day-header {background-color: #eee!important;font-size: 12px!important; font-weight: 600}
.fc-axis {font-size: 11px!important; font-weight: 500;}
.fc-time {background-color: #eee!important;}
.fc-center h2 {font-size: 14px!important; font-weight: bold;}
.title-sm { font-size: 11px; font-weight: 600;}


@media (max-width: 325px) { 
 
    body {
        font-family: Arial,Helvetica,sans-serif;
        font-size: 12px;
        line-height: 20px;
        position: relative;
        color: #525252;
    }
}

@media (min-width: 326px) { 
 
    body {
        font-family: Arial,Helvetica,sans-serif;
        font-size: 14px;
        line-height: 24px;
        position: relative;
        color: #525252;
    }
}