{% include 'web/header.html.twig' %}	
	<div class="clear"></div>
	<div class="bg1">
		<div class="container-fluid">
			<section id="section-home" class="section" data-loaded="0">
			<h3>Inicio</h3>
			<div class="row">
				<div class="col-xs-12 col-md-6">
					<div class="card">
					  <div class="card-header">
					    ADORACIÓN EUCARÍSTICA PERPETUA
					  </div>
					  <div class="card-body">
					    <h6>El Señor te espera...</h6>
					    <span class="home-text">...24 horas al día</span><br />
					    <span class="home-text">...365 días al año</span><br />
					    <span class="home-text">Abierta paro todos los que lo deseen.</span><br />
					    <span class="home-text">Si quieres apuntarte...</span><br />
					    <span class="home-text"><i class='fa fa-phone'></i> Llamanos al 606 770 181</span><br />
					    <span class="home-text"><i class='fa fa-email'></i> Escríbenos a adoracionperpetua.bilbao@gmail.com</span>
					    </span>
 	 				  </div>
					</div>
				</div>
				<div class="col-xs-12 col-md-6">
					<div class="card">
						<div class="card-header">
						    INTENCIONES {{ mes }} de DON MARÍO ICETA
					  	</div>
					  	<div class="card-body">
					    	<ol id="lista-nota-1"></ol>
					  	</div>
				  	</div>
				</div>
			</div>
			<div class="row"><div style="height:30px"></div></div>
			<div class="row">
				<div class="col-xs-12 col-md-12">
					<div class="card">
						<div class="card-header">
						    Confesiones
					  	</div>
					  	<div class="card-body">
					    {% set vars = {'calendar': 'calendar-sacerdote', 'tipo': 'sacerdote', 'url': path('web_load_calendar') } %}
						{% include 'Web/calendar.html.twig' with vars %}
					  	</div>
					</div> 
				</div>
			</div>	
			</section>
			
			<section id="section-noticias" class="section" data-loaded="0" style="display:none;">
				<h3>Noticias</h3>
				<div class="card">
				<div class="card-body">
				<ul class="list-group" id="list-noticias">
				  
				</ul>
				</div></div>
			</section>
			
			<section id="section-gracias" class="section" data-loaded="0" style="display:none;">
				<h3>Intenciones personales y acciones de gracias</h3>
				<div class="row">
					<div class="col-xs-12 col-md-6">
						<div class="card">
						  <div class="card-header">
						    Intenciones
						  </div>
						  <div class="card-body">
							<ul id="lista-nota-2"></ul>
						  </div>
						</div>
					</div>
					<div class="col-xs-12 col-md-6">
						<div class="card">
							  <div class="card-header">
							    Gracias
							  </div>
							  <div class="card-body">
									<ul id="lista-nota-3"></ul>
							  </div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section id="section-adorador" class="section" data-loaded="1" style="display:none;">
			{% set vars = {'calendar': 'calendar-adorador', 'tipo': 'adorador', 'url': path('web_load_calendar') } %}
				<br />
				<h3>Adoradores</h3>
				{% include 'Web/calendar.html.twig' with vars %}
			</section>
		</div>
	</div>
{% include 'web/footer.html.twig' %}
{% block end_javascript %}
<script>
$(function() {
	$.ajax({
		  url: "{{ path('web_load_notas') }}",
		  method: 'GET'
		}).done(function(res) { 
		 	for(index in res) {
		 		$('#lista-nota-' + index).html(res[index])
		 	}
		}
	);

	$.ajax({
		  url: "{{ path('web_load_noticias') }}",
		  method: 'GET'
		}).done(function(res) { 
		 	$('#list-noticias').html(res['noticias'])
		}
	);	

});
</script>
{% endblock %}