<!doctype html>
<html lang="es">
<head>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="{{ asset('bundles/app/css/web.css') }}">


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="{{ asset('bundles/app/js/web.js') }}"></script>

<title>Adoración Perpetua BILBAO</title>
</head>
<body>
	<header>
		<div class="container-fluid">
			<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>		<a class="navbar-brand" href="#" style="display:none;"><h2>APBilbao</h2></a>
					
  				<div class="collapse navbar-collapse" id="navbarTogglerDemo01">
	  				<ul class="navbar-nav mr-auto sf-menu">
						<li  class="current"><a href="javascript:goto('home');">Inicio</a></li>
						<li><a href="javascript:goto('obispo');">D. Marío</a></li>
						<li><a href="javascript:goto('noticias');">Noticias</a></li>
						<li><a href="javascript:goto('peticion');">Pedimos</a></li>
						<li><a href="javascript:goto('gracias');">Damos gracias</a></li>
						<li><a href="javascript:goto('adorador');">Adoradores</a></li>
					</ul>
				</div>
				<div class="pull-right">Adoración perpetua. 24h 365 días al año</div>
			</nav>
		</div>
	</header>
	<div class="clear"></div>
	<div class="bg1">
		<div class="container">
			<section id="section-home" class="section">
			<br />
			HOME
			</section>
			<section id="section-obispo" class="section" style="display:none;">
			Obispo
			</section>
			<section id="section-noticias" class="section" style="display:none;">
			noticias
			</section>
			<section id="section-peticion" class="section" style="display:none;">
			Peticiones
			</section>
			<section id="section-gracias" class="section" style="display:none;">
			gracias
			</section>
			<section id="section-adorador" class="section" style="display:none;">
			Adoradores
			</section>
		</div>
	</div>
	<div class="container-fluid">
		<footer>
			<div class="row">
			<div class="col-xs-12 col-md-9"><br />
				<p><center>Adoración Perpetua Bilbao @2018</center></p>
			</div>
			<div class="col-xs-12 col-md-3 text-center">Parroquia de Nuestra Señora del Carmen. <br />Calle Simón Bolívar, 4<br /> CP 48010 Bilbao</div>
		</footer>
	</div>
</body>
</html>