{% include 'web/header.html.twig' %}	
	<div class="clear"></div>
	<div class="bg1">
		<div class="container">
			<section id="section-noticia" class="section">
			<h4 class="h-title">Noticia</h4>
				<div class="card">
				   <div class="card-body">
					{% include 'crud/base_noticia.html.twig' %}
					</div>
				</div>
			</section>
		</div>
	</div>
{% include 'web/footer.html.twig' %}